{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión OWL System</title>
    <link rel="stylesheet" href="{% static 'css/stylec.css'%}">
</head>
<body>
    <header>
<img src="{% static 'images/PSG.png'%}" class="logo" alt="fundacion">
<nav class="navigation">
    <button class="btnLogin-popup"><a href="{% url 'interfazcentral'%}">Iniciar sesion</a></button>
    <a href="{% url 'blog'%}">Blog</a>
</nav> 
    </header>
    <div class="wrapper">
        <span class="icon-close">
            <ion-icon name="close-circle-outline"></ion-icon>
        </span>

        </div>
    </div>
    <script src="login.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>